<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="AmazingToDoContext"
         connectionString="Server=5a9536c3-d67b-4416-be11-a390004f5b05.sqlserver.sequelizer.com;Database=db5a9536c3d67b4416be11a390004f5b05;User ID=rqnyylyjibcignle;Password=hcuMekh3MXXJgKXUoHndKWJkYvJ5RUxAscUiDRbFDKtiLxpQouhPsxHtAjWQHmjZ;" />
  </connectionStrings>
</configuration>